<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reading Journal</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <%- include('partials/navbar') %>

  <div class="page-title">
    <h1>Reading Journal</h1>
  </div>

  
  <% data.forEach(data => { %>
    <div class="journal-info">
      <p><b><%= data.title %></b></p>
      <ul class="journal-list">
        <li>Author: <%= data.author %></li>
        <li>Publisher: <%= data.publisher %></li>
        <li>Total page: <%= data.total_page %></li>
        <li>Last page read: <%= data.current_page %></li>
        <li>Status: <%= data.status %></li><br>
      </ul>
    </div>
  <% }) %>

  <div>
    <% if (current_page > 1) { %>
      <a href="/dashboard?page=<%= Number(current_page) - 1 %>">
        <button>Previous</button>
      </a>
    <% } %>
    <span><%= current_page %></span>
    <% if (current_page < last_page) { %>
      <a href="/dashboard?page=<%= Number(current_page) + 1 %>">
        <button>Next</button>
      </a>
    <% } %>
  </div>

</body>
</html>