<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reading Journal</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <%- include('partials/navbar') %>

  <div>
    <h1>Highlight Today</h1>
  </div>

  <div class="journal-info">
    <p><b><%= data[0].title %></b></p>
    <ul class="journal-list">
      <li>Author: <%= data[0].author %></li>
      <li>Publisher: <%= data[0].publisher %></li>
      <li>Total page: <%= data[0].total_page %></li>
      <li>Currently-reading page: <%= data[0].current_page %></li>
      <li>Reading status: <%= data[0].status %></li>
    </ul>
  </div>
</body>